{% extends 'layout/base.html' %}
{% block title %}Employee - Students{% endblock %}
{% block content %}
<div class="main add_student">
    <div class="main container mx-5 p-5">
        <a href="/" class="btn btn-dark"><i class="fa-solid fa-chevron-left"></i></a>
        <form class="shadow p-3 mt-4 form-w bg-light" action="/students/add_student" method="post">
            <h3>Thêm Học Sinh</h3>
            <hr>
            {% if err_msg1 %}
            <div class="alert alert-danger">{{ err_msg1 }}</div>
            {% endif %}
            {% if err_msg2 %}
            <div class="alert alert-danger">{{ err_msg2 }}</div>
            {% endif %}
            {% if err_msg3 %}
            <div class="alert alert-danger">{{ err_msg3 }}</div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label">Họ</label>
                <!--            pattern="[a-zA-Z0-9_]{3,15}" Biểu thức này định nghĩa rằng username phải bắt đầu bằng một ký tự chữ cái hoặc số, có thể tiếp tục bằng bất kỳ ký tự chữ cái, số hoặc dấu gạch dưới nào, và phải có độ dài từ 3 đến 15 ký tự.-->
                <input type="text" class="form-control" name="fn" placeholder="Nhập họ..." required
                       value="{{ request.form.fn }}">
                <div class="mb-3">
                    <label class="form-label">Tên</label>
                    <input type="text" class="form-control" name="ln" placeholder="Nhập tên..." required
                           value="{{ request.form.ln }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ngày sinh</label>
                    <input type="date" class="form-control" name="dob" required
                           value="{{ request.form.dob }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Giới tính</label>
                    <div class="row row-cols-5">
                        {% for s in sexes %}
                        <div class="col">
                            <!--                        loop.first là một biến môi trường được cung cấp bởi Jinja2 để kiểm tra xem liệu vòng lặp hiện tại có phải là lần đầu tiên không. Nếu là lần đầu tiên, thuộc tính checked sẽ được thêm vào radio button, khiến nó được chọn mặc định.-->
                            <input type="radio" name="sex" value="{{ s.value }}" {% if loop.first or s.value|string==
                                   request.form.sex %} checked {% endif %}>
                            {% if s.value == 1 %}
                            Nữ
                            {% endif %}
                            {% if s.value == 2 %}
                            Nam
                            {% endif %}
                            {% if s.value == 3 %}
                            Khác
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" name="address" placeholder="Nhập địa chỉ..." required
                           value="{{ request.form.address }}">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" name="phone" placeholder="Nhập số điện thoại..." required
                       value="{{ request.form.phone }}">
            </div>
            <div class="mb-3 input-group">
                <input type="email" class="form-control" name="email" placeholder="Nhập email..." required
                       value="{{ request.form.email }}" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
            </div>
            <button type="submit" class="btn btn-dark">Thêm</button>
        </form>
    </div>
</div>
{% endblock %}